        html, body {
            height: 100%;               /* растягиваем фон на всю страницу */
            font-family: sans-serif;    /* новый шрифт без засечек */
            font-size: 18px;            /* размер шрифта на всей странице */
            text-align: -webkit-center; /* все блоки ровно по центру*/
        }

        h1 {
            /* text-align: center; */
            font-family: cursive;
            color: white;
            font-size: 52px;
            -webkit-text-stroke: 2px green;
        }

        .user-block {
            border: 1px solid grey;
            height: 100px;
        }

        .user-image {
            border: 1px solid red;
            height: 100px;
            width: 100px;
        }

        .user-full-name {
            border: 1px solid green;
            height: 100px;
            width: 200px;
        }


        .btn-block button {
            border-radius: 5%;
            width: 200px;
            height: 80px;
            margin-bottom: 10px;
            border: 0px;

            background-color: #49926E; /* зеленый для кнопок */
            color: white;
            font-family: monospace;
            font-size: 16px;
        }


        .list-all-users {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }

        .title-users {
            border: 1px solid grey;
        }

        .block-table-users {
            margin-top: 10px;
        }

        tr {
            text-align: -webkit-center;
        }

        tr #th-id {
            border: 1px solid grey;
            width: 50px;
        }

        tr #th-photo {
            border: 1px solid grey;
            width: 100px;
        }

        tr #th-user {
            border: 1px solid grey;
            width: 250px;
        }

        tr #th-email {
            border: 1px solid grey;
            width: 250px;
        }

        tr #th-task-count-process {
            border: 1px solid grey;
            width: 150px;
        }

        tr #th-task-count-finish {
            border: 1px solid grey;
            width: 150px;
        }

        td .td-user-data {
            background-color: lightgrey;
        }


        td #user-id {
            width: 50px;
            height: 50px;
        }

        td #user-photo {
            background-color: white;
        }


        td #user-name {
            width: 250px;
            height: 50px;
        }

        td #user-email {
            width: 250px;
            height: 50px;
        }

        td #user-tasks-process {
            width: 150px;
            height: 50px;
        }

        td #user-tasks-completed {
            width: 150px;
            height: 50px;
        }

        img {
            width: 50px;
            height: 60px;
        }